<jumbotron titulo="Painel de fotos"></jumbotron>

<div class="container">

    <section class="row">
        <painel 
            [class]="grid"
            *ngFor="let foto of fotos"
            [titulo]="foto.titulo"
        >
            <foto
               [titulo]="foto.titulo"
               [url]="foto.url"
               [descricao]="foto.descricao"
               [categoria]="foto.categoria"
            >
   
            <a href="#" class="btn btn-outline-primary btn-block">Alterar</a>
            <a href="#" class="btn btn-outline-danger btn-block">Remover</a>
        </foto>
        </painel>
    </section>
</div>