.foto-categoria {
    border-radius: 100%;
    font-size: .8em;
    padding: 2em 0;
    position: absolute;
    right: 6px;
    text-transform: capitalize;
    top: 6px;
    width: 74px;
}

.foto-image {
    height: 360px;
}

.foto-legenda {
    padding: 1.5em 1.5em 0;
}

@media(min-width: 576px) {
    .foto-image {
        height: 250px;
    }   
}