<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">

        <a class="navbar-brand" [routerLink]="['']">Cards</a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-collapse navbar-nav d-flex justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" 
                        [routerLink]="['']"
                        [class.active]="link == 'home'"
                        (click)="link = 'home'"
                    >
                        Home
                    </a>
    
                </li>
                <li class="nav-item">
                    <a class="nav-link" 
                        [routerLink]="['/cadastro']"
                        [class.active]="link == 'cadastro'"
                        (click)="link = 'cadastro'"
                    >
                        Cadastro
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>